.form-wrapper {
  width: 100%;
  height: 10vh;
  background-color: white;
  border: 4px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-bday-btn {
  background-color: cyan;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  padding: 5px;
}
